:root{
    --button_green_bg: rgba(21, 247, 0, 0.959);
  --ls_body_bg: rgb(72 91 181 / 55%);
  --ld_bg:#f8f8f8;
  --defult_blue: rgb(0, 140, 255);
  --defult_bg: rgb(39, 145, 231);
  --main_box-shadow:rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --ld_color:rgba(177, 177, 177, 0.973);
  --white:#fff;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  margin: 0;
}


.button_text{
    font-size: 19px;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    transition: all 0.3s;

    

}
.small_button_text{
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
}
.button_loading .button_text{
   visibility: hidden;
   opacity: 0;
}


.button_loading::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border:4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button_loading_spin 1s ease infinite;
}

.button_loading .small_button_text{
  visibility: hidden;
  opacity: 0;
}
@keyframes button_loading_spin{
    0%{
        transform: rotate(0turn);
        
    }
    100%{
        transform: rotate(1turn);
    }

    
}

@keyframes pop_up{
  0%{
        transform: scale(0.9);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}