.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.main {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.contacts_info {
  min-width: 20rem;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .contacts_info {
    width: 100%;
  }
  .main {
    order: 1;
  }
}
