.login_container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #edf0f9;
}
.lg_body {
  position: absolute;
  width: min(27rem, 95%);
  display: flex;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  row-gap: 10px;
  padding: 1rem;
}
.lg_title {
  padding: 10px;
  padding-left: 0;
  text-align: center;
}
.lg_title_text {
  font-size: 17px;
  color: var(--gray-700);
}
.lg_number_wrapper {
  padding: 0 0.8rem;
}

.number_input {
  width: 100% !important;
  font-size: 1.1rem !important;
}

.otp_inputs_wrapper {
  display: flex;
  justify-content: space-evenly;
}
.otp_input {
  width: 2rem;
  outline: none;
  border: none;
  text-align: center;
  height: 2.5rem;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--gray-400);
}

.country_code {
  width: min(7rem, 5rem);
  font-size: 1.3rem;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid var(--gray-400);
}

.number_input input {
  border: none;
  height: 100%;
  outline: none;
  width: 100%;
}
.ls {
  display: flex;
  column-gap: 10px;
}

.ls_input {
  flex: 1;
  outline: none;
  width: 0;
  font-size: 1rem;
  height: 3rem;
  border: none;
  border-bottom: 1px solid black;
}

.lg_bottom {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
}
.lg_next_btn {
  width: 10rem;
  height: 2.7rem;
  color: white;
  font-style: italic;
  background-color: var(--color-blue);
  border-radius: 8px;
  font-weight: 600;
  font-size: large;
  border: 1px solid var(--gray_400);
  cursor: pointer;
}
