.login{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}
.login_header{

    height: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 7rem;
    
}
.login_header h1{
    font-size: 35px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.login_body{
    width: 27rem;
    height: 13rem;
    border-radius: .5rem;
    background-color: var(--ls_body_bg);
    padding: 2rem;
}

.ls_body_err{
    margin-top: 5px;
}

.ls_err_message{
    color: #e93959;
    font-style: italic;
    font-size: 16px;
    font-family: "Prata",serif;
}
.loign_from_np{
    margin-top: 1.09rem;
}
.login_lable{
    font-size: 16px;
    font-style: italic;
    font-family: arial;
    color: rgb(255, 255, 255);
}
.Loign_from_input_container{
    margin-top: .30rem;
}
.login_input{
    width:96%;
    height: 2.180rem;
    border-radius: .5rem;
    font-size: 1.11rem;
    padding-top: .2rem;
    padding-left:.8rem;
    border: none;
}
.login_input::-webkit-inner-spin-button{
    -webkit-appearance: none; 
}
.login_input:focus{
    outline: none;
    
    transition: all .3s ;
}

.loign_from_link{
    margin-top: 1.09rem;
    font-size: 15px;
    font-family: arial;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.loign_button{
    width: 100%;
    border-radius: .5rem;
    height: 2.55rem;
    margin-left: 0rem;
    margin-top: 1rem;
    background-color: var(--button_green_bg);
    color: white;
    border: none;
    font-size: 19px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    
}

@media(max-width:768px){

    .login_header{
    height: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5.5rem;
    }
    .login_header h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
   }
    .login_body{
    width: 78%;
    height: 60%;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(72 91 181 / 55%);
  }
  .login_lable{
    font-size: 14px;
    font-family: arial;
    color: rgb(255, 255, 255);
  }
  .login_input{
    font-size: 1rem;
}
  .loign_from_link{
    margin-top: 1.09rem;
    font-size: 14px;
    font-family: arial;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.loign_button{
    font-size: 17px;
    font-weight: 400;
  }
  }