.contact_menu{
    position: fixed;
    right: 20px;
    width: 15rem;
    height: auto;
    background-color:var(--ld_bg);
    box-shadow: var(--main_box-shadow);
    animation: conmenu_popup 0.4s ease-in-out;
   
}
.contact_menu_options{
    height: auto;
    position: relative;
    padding: 0.5rem;
    border-bottom: 1px solid var(--ld_border);
    border-top: 0.1px solid rgba(113, 114, 106, 0.973);;
    
}
.contact_menu_options:hover{
    transform: translate(1px, -1px);
    cursor: pointer;
    background-color: var(--white);
    
    
}
.contact_menu_option-r{
    color: rgba(252, 0, 0, 0.705);
}
.contact_menu_option{
    color: rgba(114, 106, 106, 0.973);
}

.menu_options_loading::after{
     content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border:4px solid transparent;
      border-top-color:rgba(252, 0, 0, 0.705);
    border-radius: 50%;
    animation: button_loading_spin 1s ease infinite;
}
.menu_options_loading .contact_menu_option-r{
    visibility: hidden;
    opacity: 0;

}


@keyframes conmenu_popup{
    0%{
        transform: translate(0, -100%);
        opacity: 0;
        
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
        

    }
}
    


@media  (max-width: 860px){
    .contact_menu{
    position: fixed;
    right: 5px;
    width: 12rem;
    height: auto;
    background-color:var(--ld_bg);
    box-shadow: var(--main_box-shadow);
   
}
.contact_menu_options{
    height: auto;
    padding: 0.400rem;
    border-bottom: 1px solid var(--ld_border);
    border-top: 0.1px solid rgba(113, 114, 106, 0.973);;
    transition:0.2s;
}
}