.navbar_container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary);
}

.wb_logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: relative;
}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}
.profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.options {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
}

.group {
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}
.icons {
  font-size: 2rem;
  color: var(--color-blue);
  cursor: pointer;
  /* color: rgb(0, 140, 255); */
}
.theme_icon {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar_container {
    order: 2;
    flex-direction: row;
    padding: 0;
    height: auto;
  }
  .options {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
}
