.chats {
  flex-grow: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.top {
  height: 64px;
  flex-shrink: 0;
  display: flex;
  column-gap: 8px;
  border-bottom: 1px solid var(--border-primary);
  padding: 5px 10px;
  align-items: center;
}
.back_icon {
  display: none;
}
.chat_contact_profile {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.messages {
  flex-grow: 1;
  overflow: auto;
  background-color: #edf0f9;
  row-gap: 1rem;
  padding: 10px;
}
.own_message {
  display: flex;
  flex-direction: row-reverse;
}
.message_wrapper {
  max-width: 75%;
  display: inline-block;
}
.message_details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user_profile {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}



.message_date {
  font-size: 15px;
  color: var(--gray_500);
}

.own_message_text_wrapper {
  padding: 12px;
  border-radius: 8px;
  margin-top: 3px;

  background-color: #ffffff;
}
.contact_message_text_wrapper {
  padding: 12px;
  border-radius: 8px;
  margin-top: 3px;

  background-color: #007aedd0;
  color: #ffffff;
}
