          
.homeloading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--ld_bg);
   
}
.loader {
  border-radius: 50%;
  border-top: 2px solid rgb(14, 76, 247);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 1.2s linear infinite;

}
.homeloagin_image{
    width: 350px;
    height: 350px;
    
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
