
.otp_body{
    width: 26rem;
    height: 20rem;
    border-radius: .5rem;
    background-color: var(--ls_body_bg);
    padding: 2rem;
}
.otp_form_np{
    margin-top:1.9rem;
}
.otp_title {
    color: rgb(255, 255, 255);
    font-size: 27px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.otp_title_contact {
    font-size: 14px;
    font-family: arial;
    color: rgb(255, 255, 255);
    text-align: center;
}
.otp_label{
    font-size: 16px;
    font-family: arial;
    color: rgb(255, 255, 255);
}
.otp_input_container{
    margin-top: 0.5rem;
    margin-left: 1.1rem;
}
.otp_input{
    width:13%;
    height: 2.3rem;
    border-radius: .5rem;
    font-size: 1.2rem;;
    text-align: center;
    margin-left: 8px;
    border: none;
}
.otp_input::-webkit-inner-spin-button{
    -webkit-appearance: none; 
}
.otp_input:focus{
    outline: none;
    /* border: 2px solid rgba(115, 255, 0, 0.473) */
}
.otp_nonotp{
    color: rgba(177, 177, 177, 0.733);
    font-size: .8rem;
    font-family: arial;
}
.opt_resend{
    color: rgba(255, 255, 255, 0.856);
    border-bottom:0px solid rgba(146, 145, 145, 0.671);
    cursor: pointer;
    font-size: 13px;
    font-family: arial;
}
.otp_button{
     width: 100%;
    border-radius: .5rem;
    height: 2.55rem;
    margin-top: .5rem;
    background-color: var(--button_green_bg);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


@media(max-width:768px){
    .otp_body{
    width: 78%;
    height: 60%;
    margin-top: 5.4rem;
    border-radius: .5rem;
    background-color: rgb(72 91 181 / 55%);
    padding: 2rem;
}
.otp_label{
    font-size: 14px;
    font-family: arial;
    color: rgb(255, 255, 255);
}
.otp_button{
    font-size: 17px;
    font-weight: 400;
  }
.otp_input_container{
    margin-top: 0.4rem;
    margin-left: .0rem;
}
.otp_input{
    width:13%;
    height: 2.3rem;
    border-radius: .5rem;
    font-size: 1.2rem;;
    text-align: center;
    margin-left: 6px;
    border: none;
}
.otp_nonotp{
    color: rgba(177, 177, 177, 0.733);
    font-size: .8rem;
}
.opt_resend{
    color: rgba(255, 255, 255, 0.856);
    border-bottom:2px solid rgba(146, 145, 145, 0.658);
    cursor: pointer;
}
}