.singup{
    width: 100vw;
    min-height: 100vh;    
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.singup_header{
    height: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 6.5rem;

}
.singup_header h1{
    font-size: 35px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.singup_body{
    width: 26rem;
    height: 18rem;
    border-radius: .5rem;
    background-color: var(--ls_body_bg);
    padding: 2rem;
}

.singup_from_np{
    margin-top: 1.09rem;
}
.singup_lable{
    font-size: 15px;
    font-family: arial;
    font-style: italic;
    color: rgb(255, 255, 255);
}
.singup_from_input_container{
    margin-top: .30rem;
}
.singup_input{
    width:95%;
    height: 2.180rem;
    border-radius: .5rem;
    font-size: 1.11rem;
    padding-top: .2rem;
    padding-left:.8rem;
    border: none;
}
.singup_input::-webkit-inner-spin-button{
    -webkit-appearance: none; 
}
.singup_input:focus{
    outline: none;
    
}

.singup_from_link{
    margin-top: 1.09rem;
    font-size: 16px;
    font-family: arial;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.singup_button{
    width: 100%;
    position: relative;
    border-radius: .5rem;
    height: 2.55rem;
    margin-top: 1rem;
    background-color: var(--button_green_bg);
    color: white;
    border: none;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    
}

@media(max-width:640px){
    .singup{
    width: 100vw;
    min-height: 100vh;    
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
    .singup_header{
    height: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 4.6rem;
    }
    .singup_header h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
   }
    .singup_body{
    padding-top: 1rem;
    width: 78%;
    height: 60%;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(72 91 181 / 55%);
  }
  .singup_lable{
    font-size: 14px;
    font-family: arial;
    color: rgb(255, 255, 255);
  }
  .singup_input{
    height: 2rem;
    font-size: 1rem;
    
}
  .singup_from_link{
    margin-top: 1.09rem;
    font-size: 14px;
    font-family: arial;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.singup_button{
    font-size: 17px;
    font-weight: 400;
  }
  }